{% extends 'index.html' %}
{% load polls_tags %}
{% block center_line %}
    <h1>Результаты опросов</h1>
    <div class="ask_page">
        {% for poll in object_list  %}
            {% is_vote poll.pk request as user_vote %}
            {% if not user_vote %}
                {% render_poll_detail_form poll False %}
            {% else %}
                {% render_poll_detail_result poll %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}