{% extends 'index.html' %}
{% load polls_tags %}
{% block center_line %}
    <h1>Опросы</h1>
    <div class="ask_page">
        <div>
            <p class="p14">Уважаемые читатели газеты «Кадры Города»!</p>
            <p class="p14">Мы клиентоориентированная газета, мы очень хотим, чтобы наше издание было не только информативным, но также интересным и читаемым. Мы постоянно совершенствуемся и развиваемся и чтобы печатать в газете то, что соответствует требованиям читателей, мы должны знать о Вас и Ваших предпочтениях как можно больше.</p>
            <p class="p14">Наши рекламодатели также хотят знать, кто составляет нашу читательскую аудиторию, каков образовательный уровень, каковы доходы, кем Вы работаете, почему читаете нашу газету.</p>
            <p class="p14">Ваше мнение очень важно для нас!</p>
        </div>
        {% if open_vote %}
            {% render_poll_detail_form open_vote %}
        {% else %}
            <a href="{% url 'poll:polls_list' %}">Посмотреть все опросы</a>
        {% endif %}
    </div>
{% endblock %}