{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Наши статьи</h1>
    <div class="artic_feat_page">
        {% for object in object_list %}
            <div class="artic_feat_one">
                {% if object.cover %}
                    {% thumbnail object.cover "584x203" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }}">
                    {% endthumbnail %}
                {% endif %}
                <a href="{% url 'content:article' object.slug %}"><h4>{{ object.title }}</h4></a>
                {{ object.text|safe|truncatewords:20 }}
                <div class="row artic_feat_links">
                    <div class="col4">
                        <p class="p12">{{ object.created|date:"d.m.Y" }}</p>
                    </div>
                    <div class="col8">
                        <p class="all_views">{{ object.views }} просмотров</p>
                    </div>
                    <div class="col4">
                        <a class="p14" href="{% url 'content:article' object.slug %}">Читать дальше</a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}