{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Обучение</h1>
    <div class="row">
        <div class="src_result col16">
            {% for edu in edu_list %}
                <div class="one_line grad_bg">
                    <div class="col16">
                        <div class="row ol_head">
                            <div class="col10">
                                <h4>{{ edu.title }}</h4>
                            </div>
                        </div>
                        <div class="short_descr">
                            <p class="p14">
                                {{ edu.text|safe }}
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="ol_footer">
                        <div class="col8">
                            <p class="p12">Тел: <a href="tel:{{ edu.phone }}" class="p18">{{ edu.phone }}</a></p>
                        </div>
                        <div class="col8 right">
                            <p class="p12">Компания: {{ edu.company_name }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h4>Нет актуальных предложений</h4>

            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}