{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>{{ object.title }}</h1>
    <div class="artic_one">
        {{ object.text|safe }}
        <div class="row artic_feat_links">
            <div class="col4">
                <p class="p12">{{ object.created|date:"d.m.Y" }}</p>
            </div>
        </div>
    </div>
{% endblock %}