{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Наши партнеры</h1>
    <div class="row1">
        {% for partner in partner_list %}
            <div class="new_feat">
                {% if partner.link %}
                <a href="{{ partner.link }}" target="_blank">
                {% else %}
                <a href="#">
                {% endif %}
                    {% thumbnail partner.company_logo "165x165" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ partner.name }}">
                    {% endthumbnail %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}