{% extends 'index.html' %}
{% load thumbnail %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.custom-scrollbar.css">
{% endblock %}
{% block center_line %}
    <h1>Задать Вопрос юристу</h1>
    <div class="jur_answer">
        <div class="col12 ml_descr">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                    <div>
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                        {% for err in field.errors %}
                            <p>{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input type="submit" value="Задать вопрос">
            </form>
        </div>
    </div>
{% endblock %}
{% block right_line %}
    <div class="jur_nav2 default-skin">
        <div class="jur_lnks">
            <p class="jur_h1">По годам:</p>
            {% for year in years %}
                <a href="{% url 'content:qa_year' year.year %}" class="qa_year_link">{{ year|date:"Y" }}</a>
            {% endfor %}
        </div>
        <div class="jur_lnk1">
            {% for qa in qa_list %}
                <a href="{% url 'content:qa_detail' qa.pk %}">
                    <p class="j_date">{{ qa.created|date:"d E Y" }}</p>
                    <p class="j_intro">{{ qa.question|truncatewords:10 }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}