{% extends 'index.html' %}
{% block center_line %}
    <div class="src_result col16" style="padding-top: 50px">
        <div class="one_line {% if obj.in_top %}in_top{% endif %}">
            <div class="col3 no_pad">
                {% if obj.profile__photo %}
                    <img src="{{ MEDIA_URL }}{{ obj.profile__photo }}" alt="">
                {% else %}
                    <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                {% endif %}
            </div>
            <div class="col13">
                <div class="row ol_head">
                    <div class="col10">
                        <h4>{{ obj.position }}</h4>
                    </div>
                    <div class="col6 right">
                        {% if obj.desired_salary %}
                            <p class="p14 yel_select">{{ obj.desired_salary }} Р</p>
                        {% else %}
                            <p class="p14 yel_select">Не указано</p>
                        {% endif %}
                    </div>
                </div>
                <div class="short_descr">
                    <p class="p14">
                        <b>Опыт:</b> {{ obj.experience }}
                    </p>
                </div>
                <div class="full_descr" style="display: block">
                    <div>
                        <p class="p14">Образование: <b>{{ obj.education|default:"Не указано" }}</b></p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Навыки</b></p>
                        <p class="p14">{{ obj.skills|default:"Не указано" }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Последнее место работы:</b></p>
                        <p class="p14">{{ obj.last_work|default:"Не указано" }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Дата рождения:</b></p>
                        <p class="p14">{{ obj.profile.birth_date|date:"d.m.Y" }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>ФИО:</b> {{ obj.profile.last_name }} {{obj.profile.first_name}} {{ obj.profile.third_name }}</p>
                        <p class="p14 p14_sub"><b>Телефон:</b> {{ obj.profile.phone }}</p>
                        <p class="p14 p14_sub"><b>E-mail:</b> {{ obj.profile.email }}</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
    <script>
        $('.header').css('display', 'none');
        $('.left_nav').css('display', 'none');
        $('.left_links').css('display', 'none');
        $('.right_links').css('display', 'none');
        $('.pagination').css('display', 'none');
        $('.content_bottom').css('display', 'none');
        $('.footer').css('display', 'none');
    </script>
{% endblock %}