{% extends 'index.html' %}
{% block center_line %}
    <h1>Мои резюме</h1>
    {% for cv in cv_list %}
        <div class="one_line">
            <div class="col3 no_pad">
                {% if cv.profile.photo %}
                    <img src="{{ MEDIA_URL }}{{ cv.profile.photo }}" alt="">
                {% else %}
                    <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                {% endif %}
            </div>
            <div class="col13">
                <div class="row ol_head">
                    <div class="col10">
                        <h4>{{ cv.position }}</h4>
                    </div>
                    <div class="col6 right">
                        {% if cv.desired_salary %}
                            <p class="p14 yel_select">{{ cv.desired_salary }} Р</p>
                        {% else %}
                            <p class="p14 yel_select">Не указано</p>
                        {% endif %}
                    </div>
                </div>
                <div class="short_descr">
                    <p class="p14">
                        <b>Образование:</b> {{ cv.education|default:'Не указано' }}
                    </p>
                </div>
                <div class="full_descr">
                    <div><p class="p14">Опыт работы: <b>{{ cv.experience|default:'Не указано' }}</b></p></div>
                    <div>
                        <p class="p14 p14_sub"><b>Навыки</b></p>
                        <p class="p14">{{ cv.skills|default:'Не указано' }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Последнее место работы:</b></p>
                        <p class="p14">{{ cv.last_work|default:'Не указано' }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>ФИО:</b> {{ cv.profile.last_name }} {{ cv.profile.first_name }}
                            {{ cv.profile.third_name }}</p>
                        <p class="p14 p14_sub"><b>Телефон:</b> {{ cv.profile.phone }}</p>
                        <p class="p14 p14_sub"><b>E-mail:</b> {{ cv.profile.user.email }}</p>
                    </div>
                </div>
                <div class="ol_icos">
                    <div class="col5">&nbsp;</div>
                    <div class="col5"><p class="all_views">{{ cv.view_count }} просмотров</p></div>
                    <div class="col6"><p>Добавлено: {{ cv.created|date:"j E Y" }}</p></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="ol_footer">
                <div class="col6">
                    <p class="show_more_ol">Посмотреть полностью</p>
                </div>
                <div class="col5 right">
                    <a href="{% url 'catalog:update_cv' cv.pk %}" class="edit_res">Редактировать</a>
                </div>
                <div class="col5 right">
                    <a href="#" class="delete_from_fav">Удалить резюме</a>
                </div>
            </div>
        </div>
    {% empty %}
        Резюме не найдено
    {% endfor %}
{% endblock %}
